<li>
  <%= link_to event_path(event.id) do %>
    <%= event.title %><br>
    <%= event.body %><br>
    <%= event.date %><br>
    <%= event.location %><br>
    <%= "Attendees: #{event.attendees.size}" %>
  <% end %>
</li>
