<% unless @events.empty? %>
  <h1>Events</h1>

  <ul>
    <% @events.each do |event| %>
      <li>
        <%= link_to event_path(event.id) do %>
          <%= event.title %><br>
          <%= event.body %><br>
          <%= event.date %><br>
          <%= event.location %><br>
          <%= "Attendees: #{event.attendees.size}" %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h1>No events yet...</h1>
<% end %>
