<% if @past_events.any? || @upcoming_events.any? %>
  <h1>Events</h1>

  <% @upcoming_events.each do |event| %>
    <h2>Upcoming Events</h2>

    <ul>
      <li>
        <%= link_to event_path(event.id) do %>
          <%= event.title %><br>
          <%= event.body %><br>
          <%= event.date %><br>
          <%= event.location %><br>
          <%= "Attendees: #{event.attendees.size}" %>
        <% end %>
      </li>
    </ul>
  <% end %>

  <% @past_events.each do |event| %>
    <h2>Past Events</h2>

    <ul>
      <li>
        <%= link_to event_path(event.id) do %>
          <%= event.title %><br>
          <%= event.body %><br>
          <%= event.date %><br>
          <%= event.location %><br>
          <%= "Attendees: #{event.attendees.size}" %>
        <% end %>
      </li>
    </ul>
  <% end %>

<% else %>
  <h1>No events yet...</h1>
<% end %>
