<%= link_to "Home", root_path %><br><br>

<%= @event.title %><br>
<%= @event.body %><br>
<%= @event.date %><br>
<%= @event.location %><br><br>

<% if user_signed_in? && @event.attendees.any? %>
  <%= "Attendees:" %><br>
  <ul>
    <% @event.attendees.each do |attendee| %>
      <li><%= attendee.username %></li>
    <% end %>
  </ul>
<% else %>
  <%= "Attendees: #{@event.attendees.size}" %>
<% end %><br>

<% if user_signed_in? && DateTime.current.before?(@event.date) && @event.creator != current_user %>
  <% if @event.attendees.exists?(id: current_user.id) %>
    <%= button_to "Cancel",
    attendance_path(@event.attendances.find_by(attendee_id: current_user.id)),
    method: :delete %>
  <% else %>
    <%= button_to "Attend",
    attendances_path,
    params: {
      attendance: {
        event_id: @event.id,
      },
    } %>
  <% end %>
<% elsif @event.creator == current_user %>
  <%= button_to "Edit", edit_event_path(@event.id), method: :get %>
<% end %>
